body {
    background-image: url(imagenes/fondo.jpeg);
    background-size: cover;
    text-align: center;
}

.foto {
    background-color: solid transparent;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-image: url(Imagenes/foto_mia.jpeg);
    background-size: cover;
}

.heart {
    position: absolute;
    color: red;
    font-size: 20px;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) scale(0.5);
        opacity: 0;
    }
}

h1 {
    color: black;
    font-size: 26px;
    position: absolute;
    top: 220px;
    left: 785px;
}

h2 {
    font-size: 22px;
    color: black;
    position: absolute;
    top: 250px;
    left: 755px;
}

.icono {
    height: 40px;
    width: 80px;
    position: absolute;
    top: 300px;
    left: 745px;
}

.icono1 {
    height: 40px;
    width: 50px;
    position: absolute;
    top: 300px;
    left: 825px;
}

.icono2 {
    height: 40px;
    width: 50px;
    position: absolute;
    top: 300px;
    left: 895px;
}

.boton {
    background-color: rgb(230, 226, 201);
    height: 50px;
    width: 700px;
    margin: 0 auto 30px;
    border-radius: 25px;
    position: relative;
    top: 370px;
    transition: transform 0.15s cubic-bezier(0.17, 0.67, 0.29, 2.71) 0s;
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out;
}

.boton:hover {
    background-color: rgb(230, 226, 201);
    transform: translateX(-2px) scale(1.04);
    border: 2px solid rgb(240, 151, 246);
}

.img-boton {
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 41px;
    height: 41px;
    background-color: solid transparent;
    border-radius: 50%;
    position: absolute;
}

.link-boton {
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif; 
}

.container {
    position: relative;
    top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(230, 226, 201);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}