/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(../imagenes/fondosanv.webp);
    background-size: cover;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Botones */
.buttons {
    margin-top: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#yes-btn {
    background-color: #ff4d79;
    color: white;
}

#no-btn {
    background-color: #444;
    color: white;
    position: relative;
}

/* Popup */
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-photo {
    width: 200px;
    border-radius: 10%;
    margin: 0 auto;
    display: block;
}

.hidden {
    display: none !important;
}

.gif-center {
    width: 1000px;
    margin: 20px 0;
    position: fixed;
    z-index: -1;
    left: 20%;
    top: -2%;
    transform: scale(1.1);
}
